@import url("righthand_fixed_navigation_layout.css");

body {
  font-family: Verdana, 'Trebuchet MS', 'SF Pro', 'Libre Baskerville', Helvetica, sans-serif;
}

/*
nav > ul > li.active a, nav > ul > li > ul > li.active a { 
  border-left: 10px solid #A58400;
}
*/

nav a:link,
nav a:visited, 
nav a:hover, nav a:focus,
nav a:active {
  /*background-color: transparent; color: #7C6300; */
}

nav a:link,
nav a:visited {
  border-top: 1px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 10px solid transparent;
  /*color: #321900;
  background-color: #FDDB58;*/
}

/*nav a:hover, nav a:focus,
nav a:active {
  border-top: 1px solid #7C6300;
  border-right: 10px solid #7C6300;
  border-bottom: 1px solid #7C6300;
  border-left: 10px solid #7C6300;
}*/

/*a:link {
  background-color: transparent;
  color: #052452;
}*/

a:hover, a:focus, a:active {
  /*background-color: #09316D;
  color: #FFF;*/
  text-decoration: none;
}


footer a:link, footer a:visited {
}

footer a:hover, footer a:focus, footer a:active {
}


h2, h3, h4, h5, h6 {
  /*color: #7C3100; ;
  background-color: transparent;*/
}

main ul li {
  list-style-type: square;
}

/* Other Chinese fonts: "FangSong", "仿宋"; see http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/ & http://webdesign.tutsplus.com/articles/the-complete-beginners-guide-to-chinese-fonts--cms-23444 */
*[lang=zh-CN], rb[lang=zh-CN], span[lang=zh-CN] {
  font-family: "KaiTi", "楷体", STKaiti, "华文楷体", STFangSong, "华文仿宋", Simsun, 'MS Song', Song, STSong;
  font-style: normal;
}
*[lang=zh-CN], rb[lang=zh-CN], span[lang=zh-CN], .solutions[lang=zh-CN], .solutions span[lang=zh-CN], nav li a[lang=zh-CN] {
  font-size: 1.2em;
}
