@import url("righthand_fixed_navigation_layout.css");

body {
  font-family: Verdana, 'Trebuchet MS', 'SF Pro', 'Libre Baskerville', Helvetica, sans-serif;
  background-color: white; color: #282828;
  font-size: 1em; line-height: 1.4em;
}

header {
  background-color: #09316D;
  color: #89A0C2;
}

#homepage header, .philsciencepage header, .sciencepage header, .philosophypage header {
  text-align: left;
}

#homepage header, .philsciencepage header {
  height: 257px; /* height and width of Raphael_SchoolOfAthens.jpg*/
  width: 1521px;
  max-width: 75% /*62em*/;
  padding: 0;
  background: #09316D 50% 0 url('./Raphael_SchoolOfAthens.jpg') repeat-x; /*old IE fallback*/
  background-position: left;
}

.sciencepage header {
  height: 247px; /* height and width of PeonyNebula.jpg*/
  width: 1598px;
  max-width: 75% /*62em*/;
  padding: 0;
  background: #09316D 50% 0 url('./PeonyNebula.jpg') repeat-x; /*old IE fallback*/
  background-position: left;
}

.philosophypage header {
  height: 247px; /* height and width of David_MortDeSocrate.jpg*/
  width: 1368px;
  max-width: 75% /*62em*/;
  padding: 0;
  background: #09316D 50% 0 url('./David_MortDeSocrate.jpg') repeat-x; /*old IE fallback*/
  background-position: left;
}

#homepage h1, .philsciencepage h1, .philosophypage h1, .sciencepage h1 { 
  font-size: 3em; letter-spacing: 1.3px; 
  padding: 20px 0 0 20px;
  margin: 0 0 0 0;
  color: #fff /*#FDDB58*/ /*#89A0C2*/;
  background-color: transparent;
  font-weight: bold;
  line-height: 1.35em; /* CS: added to prevent overlapping text on browser zoom */
  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;
  height: 113px; /* height of #header minus h1's top padding */
}

h1 .h1txt {
  background: rgba(9, 49, 109, 0.6);
  padding: 4px;
}

nav {
  background-color: #EEC62A;
  color: inherit;
  border-radius: 4px;
}

nav h2 {
  background-color: transparent;
  color: #7C3100;
}

nav > ul {
  color: black /*#41409A*/;
  background-color: transparent;
}

nav > ul > li {
  color: inherit;
  background-color: transparent; 
}

nav > ul > li > ul {
  color: inherit;
  background-color: transparent;
}

nav > ul > li.active a, 
nav > ul > li > ul > li.active a {
  border-left: 10px solid #A58400;
}
nav > ul > li.active > ul > li a {
  border-left: 10px solid transparent;
}
nav > ul > li.active > ul > li a:hover,
nav > ul > li.active > ul > li a:focus {
  border-left: 10px solid #7C6300;
}

nav a:link,
nav a:visited, 
nav a:hover, nav a:focus,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  padding-left: 2px;
}

nav a:link,
nav a:visited {
  border-top: 1px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 10px solid transparent;
  background-color: #FDDB58;
  color: #321900;
}

nav a:hover, nav a:focus,
nav a:active {
  border-top: 1px solid #7C6300;
  border-right: 10px solid #7C6300;
  border-bottom: 1px solid #7C6300;
  border-left: 10px solid #7C6300;
}

a:link, a:visited {
  background-color: transparent;
  color: #052452;
}

a:hover, a:focus, a:active {
  background-color: #09316D;
  color: #FFF;
  text-decoration: none;
}

/* \25B7 gives white/transparent triangle; see also https://en.wikipedia.org/wiki/Geometric_Shapes */
/*
a[href^="https://www.youtube.com"]:after {
  content: ' \25B6 '; 
  color: white;
  background-color: #E62117;
  border-radius: 3px;
  font-size: 0.9em;
}*/

aside {
  background-color: #FDDB58;
  color: #000;
}

footer {
  border-color: #A54100;
  border-style: solid;
  color: #7C3100;
  background-color: #FFF;
}

footer a:link, footer a:visited {
  background-color: #FFF;
  color: #7C3100;
}

footer a:hover, footer a:focus, footer a:active {
  background-color: #A54100;
  color: #FFF;
}


h2, h3, h4, h5, h6 {
  color: #7C3100;
  background-color: transparent;
}

main ul > li {
  /*list-style-type: square;*/
  list-style-image: url('../img/orangebrown_listsquare.png');
}

#introquote, .introquote, .chapterintroquote {
  font-size: 1.1em;
  font-style: italic;
  width: 700px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  background-color: transparent;
  color: #222222;
  border: 0;
}
#introquote:before, .introquote:before, .chapterintroquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
blockquote.chapterintroquote {
  margin-bottom: 4px;
  padding-bottom: 0;
}
blockquote.chapterintroquote p {
  margin-bottom: 0;
  padding-bottom: 0;
}
blockquote.chapterintroquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -4px;
  top: -18px;
  color: #7a7a7a;
}

div.blockquote, blockquote {
  background-color: transparent /*#FDDB58*/;
  color: #321900;
  border: 2px solid #FDDB58;
  border-radius: 10px;
}
div.blockquote {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  /* left & right margin should match those for normal blockquote; only checked in Firefox:*/
  margin-left: 40px;
  margin-right: 38px;
}
div.blockquote > blockquote {
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
}
blockquote {
  padding: 4px 12px;
}
blockquote cite {
  color: #555;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "\2014 \2009";
}
li blockquote { margin: 4px 0;}
li blockquote p { margin: 0; padding: 0;}

dt, dd {
  border-bottom: 1px solid  #7C3100;
  color: inherit;
  line-height: 1.4em;
  padding-left: 4px;
}
dt {
  background-color: #FDDB58;
  margin-top: 4px;
  font-weight: bolder;
}
dd {
  border-left: 1px solid #7C3100;
  margin-top: 2px;
}

table {
  border-collapse: collapse;
  margin-bottom: 12pt;
}
th, td {
  border: 1px solid gray;
  padding: 4px;
}
tbody tr th {
  text-align: left;
}

del {
  color: gray; background: transparent; 
  font-size: 0.8em;
}

